{% extends 'blog/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fields class="form-group">
            <legend class="border-bottom mb-4">Login In</legent>
                {{ form | crispy}}
        </fields>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Don't have an account?<a href="{% url 'register' %}" class="ml-2">SignUp here</a></small>
    </div>
</div>
{% endblock %}